@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

.cardContainer {
    font-family: 'montserrat', sans-serif;
    width: 450px;
    height: 100%;
    display: inline-block;
    object-fit: contain;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.card img {
    width: 400px !important;
    height: 400px !important;
    padding: 10px;
    border-radius: 20px;
}

.cardTitle {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;

}

.cardParagraph {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 13px;
    /* opacity: 0.7; */
    color: white;
    text-transform: capitalize;

}