.cardContainer {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    white-space: normal;

}

.patnerBrand {
    text-align: center;
}

.cardName {
    margin-top: 50px;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    font-weight: bolder;
}

.cardex img {
    width: 170px;
    height: 120px;
}

.card {
    padding: 10px;
}

.cardex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 0;
}

.cardex:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    border: none;
}

.billBoardContainer {
    position: relative;
    width: 100vw;
}

.billBoardContainer img {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
}

.footerFastLinkContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

/* Footer Sections */
.footerFastLink {
    display: block;
    width: 250px;
    margin: 0 auto;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    
}

/* Heading Styles */
.footerFastLink h2 {
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: c;
}

/* List Styles */
.footerFastLink ul {
    padding: 0;
}

.footerLi {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    padding: 5px 0;
}

.footerLi:hover {
    color: rgb(87, 59, 7);
    transition: color 0.3s ease;
}

/* Newsletter Section */
.Newsletter {
    flex-basis: 30%;
    text-align: left;
}

/* Input Field */
.Newsletter input {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
}

.Newsletter p {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    word-wrap: break-word;
    white-space: normal;

}

.newsLetterFormGroup {
    display: flex;
    flex-direction: column;
    
}

.formGrp input {
    width: 400px;
    font-size: 0.8rem;
    outline: none;
    border: 2px solid burlywood;
    border-radius: 10px;
    margin: 0 auto;

}

.formGrp button {
    outline: none;
    border: 2px solid burlywood;
    border-radius: 10px;
}

.copyRight {
    font-family: c;
    font-weight: 600;
}

/* MEDIA QUERY FOR MOBILE */
@media screen and (min-width: 280px) and (max-width: 768px) {

    .billBoardContainer {
        position: relative;
        width: 100vw;
    }

    .billBoardContainer img {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100vw;
        height: 300px;

    }

    .footerFastLinkContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100vw;
        align-items: center;
        text-align: center;
    }

    .footerFastLink {
        width: 75vw;
        height: fit-content;
        padding: 0;
        margin: 10px auto;
        border-radius: 10px;
        box-shadow: 2px 3px 0 lightgrey,
                -2px -3px 0 lightgrey;
    }

    .footerFastLink h2 {
        text-align: center;
        font-size: 1.5rem;
        font-family: cursive;
    }

    .Newsletter {
        text-align: center;
        overflow-wrap: break-word;
    }

    .Newsletter p {
        text-align: center;
        font-size: 1rem;
        font-weight: 600;
        word-wrap: break-word;
        white-space: normal;

    }

    .Newsletter input {
        width: 80vw;
    }

    .newsLetterFormGroup {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .formGrp button{
        font-size: 1rem;
        padding: 0 10px;
        width: fit-content;
    }
}