.footer {
    font-family: 'Montserrat', sans-serif;
}

.cardContainer {
    width: 100vw;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    white-space: normal;

}

.patnerBrand {
    text-align: center;
}

.cardName {
    margin-top: 50px;
    font-size: 30px;
    line-height: 39px;
    text-align: center;
    font-weight: bolder;
}

.cardex img {
    width: 170px;
    height: 120px;
}

.card {
    padding: 10px;
}

.cardex {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 0;
}

.cardex:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    border: none;
}

.billBoardContainer {
    position: relative;
    width: 100vw;
}

.billBoardContainer img {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 600px;
}


.FooterCardContainer {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
    width: 100%;
    padding: 10px;
    background: #f1f1f2;
}


.logo {
    padding-top: 15px;
    font-weight: 500;
    color: gray;
    text-transform: capitalize;
    font-family: 'Alex Brush', cursive;
    letter-spacing: 1px;
    cursor: pointer;
}
.footerCardLogo{
    max-width: 240px;
    min-width: 230px;
}

.footerCardLogo p {
    font-size: clamp(12px, 1vw, 15px);
    text-align: left;
    margin-bottom: 10px;
    white-space: normal;
}

.footerCardLogo button {
    font-size: 12px;
    border-radius: 15px;
    padding: 0 5px;
    border: 1px solid orange;
    font-weight: 700;
    color: orange;
    outline: none;
}


.socialHandles {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    max-width: 160px;
    min-width: 140px;
}

.socialHandles span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: rgba(96, 95, 95, 0.07);
    border: 1px solid rgba(112, 111, 111, 0.09);
    border-radius: 50%;
    font-size: 15px;
    color: black;
    cursor: pointer;
}

.footerCardMiniConttainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
}

.footerCard,
.footerCardNews {
    margin: 0;
    padding: 0;
    justify-content: flex-start;
}

.footerCard h1,
.footerCardNews h1 {
    font-size: clamp(12px, 0.7vw, 15px);
    font-weight: 600;
    text-align: left;
    font-family: 'Montserrat', sans-serif, monospace;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.footerCard ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footerCard ul li {
    margin-bottom: 8px;
    color: rgba(50, 49, 49, 0.8);
    text-transform: capitalize;
    transition: ease-in-out 0.3s;
    font-size: clamp(13px, 1vw, 15px);
    cursor: pointer;
}

.footerCard ul li:hover {
    color: orange;
    transition: ease-in-out 0.3s;
}

.footerCardNews {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.footerCardNews p {
    font-size: clamp(13px, 0.6vw, 15px);
    text-align: left;
    margin-bottom: 2px;
}

.footerCardNews small {
    white-space: normal;
    font-size: 8px;
    font-weight: 700;
}

.newsLetter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    width: 100%;
}

.newsLetter div {
    padding: 0;
    width: 100%;
}

.newsLetter input {
    padding: 10px 8px 10px 4px;
    margin: 0;
    font-size: clamp(15px, 1vw, 17px);
    border-radius: 8px;
    margin-bottom: 0;
}


.newsLetter button {
    width: fit-content;
    font-size: 14px;
    padding: 0 10px;
    border: 1px solid orange;
    border-radius: 10px;
    margin-top: -5px;
}

.downFooter {
    display: flex;
    background: #f1f1f2;
    border-top: 1px solid rgba(50, 49, 49, 0.8);
    justify-content: space-around;
    align-items: center;
}

.downFooter div span {
    color: orange;
    font-weight: 600;
    font-size: clamp(15px, 2vw, 17px);
}


.downFooter div ul {
    display: inline-flex;
    list-style: none;
    gap: 20px;
}

.downFooter div ul li {
    color: rgba(36, 36, 36, 0.8);
    font: 15px;
}



/* MEDIA QUERY FOR MOBILE */
@media screen and (min-width: 280px) and (max-width: 768px) {}

@media screen and (max-width: 768px) {

    .billBoardContainer {
        position: relative;
        width: 100vw;
    }

    .billBoardContainer img {
        display: flex;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100vw;
        height: 300px;

    }

    .FooterCardContainer {
        flex-direction: column;
    }

    .footerCardLogo {
        max-width: 100%;
        justify-content: space-evenly;
    }

    .socialHandles {
        max-width: 160px;
        min-width: 140px;
    }

    .footerCardMiniConttainer {
        min-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .footerCardNews {
        width: 100%;
        margin-top: 0;
    }

    .newsLetter input {
        width: 100%;
    }

    .downFooter {
        text-align: center;
        padding: 10px;
        gap: 0;
    }
    .downFooter div p, .downFooter div span{
        font-size: 12px;
    }

    .downFooter div ul {
        gap: 12px;
        padding: 0;
    }
    .downFooter div ul li{
        font-size: 12px;
    }
}